{% extends 'base.html.twig' %}

{% block title %}
  Modifier mon mot de passe
{% endblock %}

{% block content %}
  <h1>
    Modifier mon mot de passe
  </h1>
  <p>
    C'est dans cette espace que vous allez pouvoir gérer votre mot de passe
  </p>
  <a href="{{ path('account') }}">Retour</a><br />
  <hr />
  {% if notification %}
    <div class="alert alert-info">
      {{ notification }}
    </div>
  {% endif %}
  {{ form(form) }}
  <hr />
{% endblock %}
