.navbar-item-custom, .navbar-item-custom a {
  color: white;
}

.footer-custom {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  padding-top: 25px;
  height: 4em;
}

.footer-custom p {
  color: white;
}

.product-item{
  margin-bottom: 2em;
  margin-top: 2em;
}
.product-item .product-subtitle {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-price{
  font-size: 15px;
  display: block;
  font-weight: bold;

}

.product-container{
  margin-bottom: 5em;
}

.product-page-price{
  font-size: 1.5em;
}

.container-single-page{
margin-top: 10em;
}
